[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/salt-vim"]
	path = bundle/salt-vim
	url = https://github.com/saltstack/salt-vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/vim-textobj-function"]
	path = bundle/vim-textobj-function
	url = https://github.com/kana/vim-textobj-function.git
[submodule "bundle/vim-textobj-function-perl"]
	path = bundle/vim-textobj-function-perl
	url = https://github.com/thinca/vim-textobj-function-perl.git
[submodule "bundle/vim-plugin-AnsiEsc"]
	path = bundle/vim-plugin-AnsiEsc
	url = https://github.com/powerman/vim-plugin-AnsiEsc.git
[submodule "pack/snipmate/start/snipmate"]
	path = pack/snipmate/start/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "pack/tlib/start/tlib"]
	path = pack/tlib/start/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "pack/vim-addon-mw-utils/start/vim-add-mw-utils"]
	path = pack/vim-addon-mw-utils/start/vim-add-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "pack/github/start/vim-python-pep8-indent"]
	path = pack/github/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
